.news-item{
    margin-bottom: 2rem;
    padding-left: 2rem;

    p{
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    img{
        width: 16rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}