<ul class="content-tab">
    <li class="tab-item active" data-index="0">
        <i class="fa fa-android fa-2x"></i>
        <p>Android</p>
    </li>
    <li class="tab-item" data-index="1">
        <i class="fa fa-apple fa-2x"></i>
        <p>iOS</p>
    </li>
    <li class="tab-item" data-index="2">
        <i class="fa fa-html5 fa-2x"></i>
        <p>前端</p>
    </li>
    <li class="tab-item" data-index="3">
        <i class="fa fa-arrows fa-2x"></i>
        <p>拓展</p>
    </li>
    <li class="tab-item" data-index="4">
        <i class="fa fa-mobile fa-2x"></i>
        <p>APP</p>
    </li>
    <!-- <li class="tab-item" data-index="5">
        <i class="fa fa-star fa-2x"></i>
        <p>彩蛋</p>
    </li> -->
</ul>